@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional: keep the file empty otherwise so the screen is minimal */
html,
body,
app-root {
    height: 100%;
}

body {
    margin: 0;
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}